<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g.backend.mapper.EmployeesMapper">
    
    <select id="selectAllEmployees"
            resultType="com.g.backend.entity.Employees">
        select * from employees
    </select>


</mapper>