 body{
   margin: 0;
   padding: 0;
   font-size: 20px;
 }

 :root{
   --primary-color: #006A71;
   --buton--active-color: #48A6A7;
   --login-backg-color: #9ACBD0;
   --dashboard-backg-color: #F2EFE7;
 }

